.ai-choice {
  display:inline-block;
  vertical-align: top;
  width: 330px;
  height: 330px;
  border: 5px solid #599bb3;
  -moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;

  .choice-container {
    height: 225px;
    line-height: 225px;

    .choice {
      text-align: center;
      font-size: 30px;
    }
  }
}
